
<div class="container-fluid" id="header-wrapper">
  <div class="row">
    <div class="col-4">
      <h3>Buglogs</h3>
    </div>
    <div class="col-8 text-right visible-on-small small-login-btn-wrapper">
      <button id="g-login-btn" (click)="_loginWithGoogle()"><span>G</span> Login</button>
      <!-- <div id="header-user-info-wrapper">
        <div id="header-user-icon-circular">DS</div>
        <div id="header-acc-label">My Posts</div>
      </div> -->
    </div>
    <div class="col-lg-6" id="header-search-wrapper">
      <input placeholder="Search Posts" /><button>Search</button>
    </div>
    <div class="col-lg-2 hide-on-small">
      <button id="g-login-btn"  (click)="_loginWithGoogle()"><span><i class="fab fa-google"></i></span> Login</button>
      <!-- <div id="header-user-info-wrapper">
        <div id="header-user-icon-circular">DS</div>
        <div id="header-acc-label">My Posts</div>
      </div> -->
    </div>
  </div>
</div>

<div class="container-fluid" id="landing-wrapper">
  <div class="row">
    <div class="col-md-6">
      <p id="landing-txt-one">
        Don’t invest time <br />on the same issue again!
      </p>
      <p id="landing-txt-two">
        Start logging them down <br />using buglogs
      </p>
      <div id="landing-get-started-button-wrapper">
        <button  (click)="_loginWithGoogle()">
          <span>Get started for free </span>
          <span><i class="fas fa-arrow-right"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>